@font-face {
    font-family: 'Titan';
    src: url('../fonts/JapanBentoDemoVersionRegular-nRWAJ.otf');
}

.header {
    text-align: center;
}

.header h1 {
    font-family: 'Titan';
    font-size: 100px;
}

.winning {
    font-size: 50px;
    color: #E8AA42;
}

.description, .scores, .winning {
    font-family: 'Wix Madefor Display', sans-serif;
}

.description {
    margin-bottom: 10px;
    font-weight: bold;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}